@import url(/normalize.css);

/* Import external font */
@font-face {
  font-family: futuristic;
  src: url(fonts/StickNoBills-VariableFont_wght.ttf);
}

:root {
  font-size: 62.5%; /* Turns 1rem equal 10px */
  --bg-color:rgb(247, 248, 251);
  --text-color:rgb(118, 126, 137);
  --btn-color:rgba(98, 169, 157, 0.701);
}

body {
  font-family: OCR A Std, monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  color: var(--text-color, black);
  font-size: 2rem;
  background-color: var(--bg-color);
}

.content {
  display: grid;
  max-width: 1500px; /* This creates a desired right margin */
  grid-template-columns: 42% auto; /* Creates two columns with respective values */
  height: 100vh;
}

.imgs-container, .metaverse-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% 8%; /* To move frame of the picture in x and y axis */
  overflow: hidden; /* Prevents picture to be higher than viewport */
  position: relative; /* To avoid the shadow to render beneath next div */
  z-index: 2; /* To avoid the shadow to render beneath next div */
  box-shadow: 5px 0px 2rem rgba(90, 90, 90, 0.71);
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color, whitesmoke);
  padding-left: 5rem;
}

header{
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding-right: 2rem;
  justify-content: center;
}

.welcome{
  font-size: 2.2rem;
  line-height: 3rem;
  color: var(--btn-color);
}

form {
  margin-bottom: 5vh;
}

p {
  margin: 0 0 2rem 0;
  font-weight: 600;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}

.input-container{
  display: flex;
  flex-direction: column;
  width : 100%;
  font-size: 1.3rem;
  align-self: center;
}

/* Applies top margin in all input-container, starting from the third */
.input-container:nth-child(n + 3) label{
  margin-top: 2rem;
}

input {
  width : 75%;
  box-sizing: border-box;
  border: solid 1px var(--text-color, black);
  border-radius: 4px;
  background-color: var(--bg-color, whitesmoke);
  color: var(--text-color);
}

.terms {
  grid-column-start: 2;
  width : 75%;
  margin-top: 1.1rem;
  line-height: 1.1rem;
  font-size: 1rem;
}

abbr {
  text-decoration: none !important; /* !important to force property to override normalize.css */
}

button {
  font-size: 1.6rem;
  padding: 0.5em 2.2em;
  border: solid 1px;
  border-radius: 6px;
  border: none;
  background-color: rgba(98, 169, 157, 0.701);
  font-family: futuristic;
  letter-spacing: 0.13rem;
}

.bottom-part small {
  margin-top: 0.7rem;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.logo-img-container {
  display: flex;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 24rem;
  background-color: rgba(155, 189, 184, 0.277);
  text-transform: uppercase;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.148);
  justify-content: center;
}

/* max() sets the odin logo with either 16% or 60 px, whichever is largest */
.logo-img-container > img{
  width: max(16%, 60px);
}

.logo-img-container span {
  align-self: center;
  color: var(--bg-color);
  font-size: 2.8rem;
  letter-spacing: .08em;
  text-shadow: 1px 1px 2px black;
}

/* CSS pseudo-classes */
button:hover {
  transition: 0.1s;
  background-color: rgba(49, 152, 135, 0.617);
  box-shadow: 2px 1px 5px rgba(49, 152, 135, 0.617);
}

input:focus {
  outline: solid 1px var(--btn-color);
}

#confirm-password:focus {
  outline: 1px solid red;
}

/* CSS pseudo-element */
#confirm-password:focus + span::before {
  content: "✖ Error. Try pressing log in";
  font-size: 0.8rem;
  color: red;
  position: absolute;
  margin-top: 1px;
}
